.main {
  background-color: rgb(239, 239, 239);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 100%;

  padding-top: 20px;
}


.response-container{
  background-color: rgb(51, 54, 52);
  width: 400px;
  min-height: 100px;
  height: auto;
  color: rgb(239, 238, 238);

  font-size: 14px;
  font-weight: 300;
  padding: 10px 20px;

  border-radius: 6px;
  margin-bottom: 10px;
}


.response {
  overflow-wrap: break-word;
}